#topbar('F')
<style type="text/css">
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
		<div class="about-wrap white">
			<div class="aboutus-banner">
				<div class="mid-width">
					<div class="aboutus-banner-content">
						<ul>
							<li class="line cur"></li>
							<li class="pie cur">
								<a href="${weburl}/news/aboutus.html"><span class="gywm"></span><p>关于我们</p></a>
							</li>
						</ul>
						<ul>
							<li class="line"></li>
							<li class="pie">
								<a href="${weburl}/news/wzgz.html"><span class="ptgz"></span><p>平台规则</p></a>
							</li>
						</ul>
						<ul>
							<li class="line"></li>
							<li class="pie">
								<a href="${weburl}/about/ptgg.html?flag=wzgg"><span class="ptgg"></span><p>平台公告</p></a>
							</li>
						</ul>
						<ul>
							<li class="line"></li>
							<li class="pie">
								<a href="${weburl}/about/hyzx.html?flag=xwbd"><span class="hyzx"></span><p>行业资讯</p></a>
							</li>
						</ul>
						<ul>
							<li class="line"></li>
							<li class="pie">
								<a href="${weburl}/about/help.html"><span class="bzzx"></span><p>帮助中心</p></a>
							</li>
						</ul>
					</div>
					<div class="about-tab">
						<a href="${weburl}/news/aboutus.html" class="active">走进钱功夫</a>
						<a href="javascript:;">公司大事记</a>
						<a href="javascript:;">联系我们</a>
					</div>
				</div>
			</div>
			<div class="aboutus-content">
				<div class="content-item">
					<div class="part">
						<div class="mid-width clearfix">
							<h1>我们是谁</h1>
							<div class="part-left clearfix">
								<div class="part-left-list clearfix">
									<img src="${weburl}/public/images/zy.png">
									<p>钱功夫隶属于杭州钱坤互联网金融服务有限公司，总部位于杭州，是由浙江八相金融服务外包公司发起、设立投资的聚焦于汽车金融的互联网金融服务平台。</p>
								</div>
								<div class="part-left-list clearfix">
									<img src="${weburl}/public/images/cx.png">
									<p style="margin-top:10px;">钱功夫在浙江八相金融服务外包公司整合浙江知本担保有限公司、杭州鑫株汽车服务有限公司和杭州艾维斯汽车租赁有限公司等成立汽车产业链集团公司的基础山打造场景化金融，将金融需求与汽车消费各种场景相融合，让风险定价变得更加精确，使现金流处于可视或可控状态，从而从源头和环节上掌控风险。</p>
								</div>
								<div class="part-left-list clearfix">
									<img src="${weburl}/public/images/fw.png">
									<p style="margin-top:10px;">钱功夫将借助股东丰富的客户资源和团队专业的服务能力，以汽车抵押等方式为平台两端的客户提供包括信用咨询、评估、信贷方案制定等多方面专业的全程信用管理和财富管理服务。</p>
								</div>
							</div>
							<div class="part-right clearfix">
								<img src="${weburl}/public/images/part1-img.png">
							</div>
						</div>
					</div>
					<div class="part gray">
						<div class="mid-width clearfix">
							<h1>我们做什么</h1>
							<div class="part-left clearfix">
								<img src="${weburl}/public/images/part2-img.png">
							</div>
							<div class="part-right clearfix">
								<div class="part-left-list clearfix">
									<img src="${weburl}/public/images/zz.png">
									<p style="margin-top:-10px;">浙江八相金融服务外包公司旗下的浙江知本担保有限公司自2003年成立以来，本着稳健、务实的精神开展业务，产品类型涉及融资担保、分期购车担保、设备按揭贷款担保、工程保函、“融易贷”等。尤其在主营-汽车按揭担保方面有着13年的经验积累，在行业内具有核心竞争能力。</p>
								</div>								<div class="part-left-list clearfix">
									<img src="${weburl}/public/images/chx.png">
									<p>浙江知本担保有限公司与多家金融机构和大型汽车经销公司有着良好的合作关系，已为近7万客户提供了50多亿的担保,并连续三年被评为杭州市先进信用担保机构。</p>
								</div>
								<div class="part-left-list clearfix">
									<img src="${weburl}/public/images/yz.png">
									<p style="margin-top:20px;">浙江知本担保有限公司一直非常重视担保后管理，做到实时反馈、及时调查、迅速催收等。历年来公司代偿损失支出不足千分之0.5。</p>
								</div>
							</div>
						</div>
					</div>
					<!--  <div class="part">
						<div class="title">
							<img src="${weburl}/public/images/bghj.png">
						</div>
						<div class="caroursel poster-main" data-setting='{
						        "width":1800,
						        "height":100,
						        "posterWidth":305,
						        "posterHeight":190,
						        "scale":0.8,
						        "dealy":"2000",
						        "algin":"middle"
						    }'>
							<ul class="poster-list clearfix">
								<li class="poster-item"><img src="${weburl}/public/images/1.png" width="100%" height="100%"></li>
								<li class="poster-item"><img src="${weburl}/public/images/2.png" width="100%" height="100%"></li>
								<li class="poster-item"><img src="${weburl}/public/images/3.png" width="100%" height="100%"></li>
								<li class="poster-item"><img src="${weburl}/public/images/4.png" width="100%" height="100%"></li>
								<li class="poster-item"><img src="${weburl}/public/images/5.png" width="100%" height="100%"></li>
								<li class="poster-item"><img src="${weburl}/public/images/6.png" width="100%" height="100%"></li>
								<li class="poster-item"><img src="${weburl}/public/images/1.png" width="100%" height="100%"></li>
							</ul>
							<div class="poster-btn poster-prev-btn"></div>
							<div class="poster-btn poster-next-btn"></div>
						</div>
					</div>-->
				</div>
				<div class="content-item">
					<div class="gdjs">
						<div class="gdjs-banner">
							<img src="${weburl}/public/images/gdjs-banner.png">
						</div>
						<div class="gray" style="padding-bottom:60px;">
							<div class="mid-width">
								<div class="introduce-list clearfix">
									<!--<div class="gdjs-avatar">
										<img src="../public/images/gd-avatar.png">
									</div>-->
									<div class="gdjs-info">
										<h3>2003年10月</h3>
										<p>公司浙江知本担保有限公司成立，注册资本金1亿元。主要从事汽车消费贷款担保业务。</p>
									</div>
								</div>
								<div class="introduce-list clearfix">
									<!--<div class="gdjs-avatar">
										<img src="../public/images/gd-avatar.png">
									</div>-->
									<div class="gdjs-info">
										<h3>2010年9月</h3>
										<p>公司获杭州担保协会批准，取得工程担保资格。</p>
									</div>
								</div>
								<div class="introduce-list clearfix">
									<!--<div class="gdjs-avatar">
										<img src="../public/images/gd-avatar.png">
									</div>-->
									<div class="gdjs-info">
										<h3>2011年5月</h3>
										<p>公司获浙江省经信委批准，取得融资性担保许可证。</p>
									</div>
								</div>
								<div class="introduce-list clearfix">
									<!--<div class="gdjs-avatar">
										<img src="../public/images/gd-avatar.png">
									</div>-->
									<div class="gdjs-info">
										<h3>2012-2014年</h3>
										<p>连续3年公司获评为杭州市先进信用担保机构。</p>
									</div>
								</div>
								<div class="introduce-list clearfix">
									<!--<div class="gdjs-avatar">
										<img src="../public/images/gd-avatar.png">
									</div>-->
									<div class="gdjs-info">
										<h3>2013年2月</h3>
										<p>公司整合浙江知本担保有限公司、杭州鑫株汽车服务有限公司和杭州艾维斯汽车租赁有限公司等，成立“浙江八相金融服务外包公司”集团公司。打造全汽车产业链生态。确立“正直、简捷、共赢”为企业经营理念。</p>
									</div>
								</div>
								<div class="introduce-list clearfix">
									<!--<div class="gdjs-avatar">
										<img src="../public/images/gd-avatar.png">
									</div>-->
									<div class="gdjs-info">
										<h3>2014-2015年</h3>
										<p>连续2年公司被浙江众诚资信评估有限公司评为A级担保公司。</p>
									</div>
								</div>
								<div class="introduce-list clearfix">
									<!--<div class="gdjs-avatar">
										<img src="../public/images/gd-avatar.png">
									</div>-->
									<div class="gdjs-info">
										<h3>2016年1月</h3>
										<p>成立钱坤互联网金融服务有限公司</p>
									</div>
								</div>
								<div class="introduce-list clearfix">
									<!--<div class="gdjs-avatar">
										<img src="../public/images/gd-avatar.png">
									</div>-->
									<div class="gdjs-info">
										<h3>2016年4月</h3>
										<p>钱功夫互联网金融平台上线</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content-item">
					<div class="contact">
						<div class="mid-width">
							<h3 class="title">联系我们</h3>
							<p class="number">全国统一咨询服务热线 <strong>400-6052-677</strong></p>
							<div class="contact-item clearfix">
								<div class="item">
									<i class="contact-icon item-1"></i>
									<p>联系电话：400-6052-677</p>
								</div>
								<div class="item">
									<i class="contact-icon item-2"></i>
									<p>传真：0571-28281617</p>
								</div>
								<div class="item">
									<i class="contact-icon item-3"></i>
									<p>地址 : 杭州市丰潭路430号丰元国际大厦B幢11楼</p>
								</div>
								<div class="item">
									<i class="contact-icon item-4"></i>
									<p>微信公众号 ：钱功夫</p>
								</div>
								<div class="item">
									<i class="contact-icon item-5"></i>
									<p>邮箱：qiangongfu@qq.com</p>
								</div>
							</div>
							<div class="map">
								<div style="width:1056px;height:490px;border:#ccc solid 1px;" id="dituContent"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="${weburl}/public/js/jquery.carousel.js"></script>
		<script>
			Caroursel.init($('.caroursel'))
			seajs.use('aboutus');
		    //创建和初始化地图函数：
		    function initMap(){
		        createMap();//创建地图
		        setMapEvent();//设置地图事件
		        addMapControl();//向地图添加控件
		        addMarker();//向地图中添加marker
		    }
		    
		    //创建地图函数：
		    function createMap(){
		        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
		        var point = new BMap.Point(120.104402,30.310849);//定义一个中心点坐标
		        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
		        window.map = map;//将map变量存储在全局
		    }
		    
		    //地图事件设置函数：
		    function setMapEvent(){
		        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
		        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
		        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
		        map.enableKeyboard();//启用键盘上下左右键移动地图
		    }
		    
		    //地图控件添加函数：
		    function addMapControl(){
		        //向地图中添加缩放控件
			var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
			map.addControl(ctrl_nav);
		        //向地图中添加缩略图控件
			var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
			map.addControl(ctrl_ove);
		        //向地图中添加比例尺控件
			var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
			map.addControl(ctrl_sca);
		    }
		    
		    //标注点数组
		    var markerArr = [{title:"钱功夫",content:"丰元国际大厦B幢11楼",point:"120.112311|30.306811",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
				 ];
		    //创建marker
		    function addMarker(){
		        for(var i=0;i<markerArr.length;i++){
		            var json = markerArr[i];
		            var p0 = json.point.split("|")[0];
		            var p1 = json.point.split("|")[1];
		            var point = new BMap.Point(p0,p1);
					var iconImg = createIcon(json.icon);
		            var marker = new BMap.Marker(point,{icon:iconImg});
					var iw = createInfoWindow(i);
					var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
					marker.setLabel(label);
		            map.addOverlay(marker);
		            label.setStyle({
		                        borderColor:"#808080",
		                        color:"#333",
		                        cursor:"pointer"
		            });
					
					(function(){
						var index = i;
						var _iw = createInfoWindow(i);
						var _marker = marker;
						_marker.addEventListener("click",function(){
						    this.openInfoWindow(_iw);
					    });
					    _iw.addEventListener("open",function(){
						    _marker.getLabel().hide();
					    })
					    _iw.addEventListener("close",function(){
						    _marker.getLabel().show();
					    })
						label.addEventListener("click",function(){
						    _marker.openInfoWindow(_iw);
					    })
						if(!!json.isOpen){
							label.hide();
							_marker.openInfoWindow(_iw);
						}
					})()
		        }
		    }
		    //创建InfoWindow
		    function createInfoWindow(i){
		        var json = markerArr[i];
		        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
		        return iw;
		    }
		    //创建一个Icon
		    function createIcon(json){
		        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
		        return icon;
		    }
		    
		    initMap();//创建和初始化地图
		</script>
	#foot()	