#topbar("G")
#user_sidebar('47')
<div class="user-page">
    <div class="user-profile">
        <nav class="user-nav-tabs">
            <a class="active">理财管理</a>
        </nav>
        <div style='font-size: 12px;text-align: left;font-weight: bold;color:#999;padding: 6px 0 6px 20px;'>1.逾期标不可转让<br>2.部分或全部本金已经还款的标不支持债权转让<br>3.部分标不属于可转让类型则不支持放入转让市场<br>
        4.已承接的转让不得进行二次转让</div>
        <div class="tab">
            <ul class="user-nav-tabs-top tab-header clearfix">
                <li #if($mt==31) class="item active" #else class="item" #end data-tab="1"><a
                        href="${weburl}/myhome/tenderSearch.html">可转让债权</a>
                </li>
                <li #if($mt==32) class="item active" #else class="item" #end data-tab="2"><a
                        href="${weburl}/myhome/marketsearch.html">已转让债权</a>
                </li>
                <li #if($mt==33) class="item active" #else class="item" #end data-tab="3"><a
                        href="${weburl}/myhome/debtTransferSearch.html">已承接债权</a>
                </li>
            </ul>
            <div class="tab-content active" data-tab="1">
                <table class="pure-table   table-compact record">
                    <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>投资期限</th>
                        <th>剩余期数</th>
                        <th>待收本金</th>
                        <th>待收利息</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        #if($!borrowPage.result.size() < 1 )
                        <td colspan="6" style="padding-top:60px;border-bottom:none;"><img
                                src="${weburl}/public/images/norecord.png"></td>
                        #else
                        #foreach($borrow in ${borrowPage.result})
                    <tr>
                        <td><a href="$weburl/borrow/detail.html?id=$!borrow.borrow_id">#if
                            ($!borrow.borrow_name.length()>=10) #limit($!borrow.borrow_name 8).. #else
                            $!borrow.borrow_name #end</a></td>
                        <td>$!borrow.time_limit #if($!borrow.isday ==1)天#else个月#end</td>
                        <td>$borrow.repayOrder</td>
                        <td>$numberTool.format($borrow.waitAccount)</td>
                        <td>$numberTool.format($borrow.waitInterest)</td>
                        <td>
                            #if($!borrow.sumC==1) <a class="btn btn-primary btn-large "
                                                     style='background:gray;border:1px solid gray;'>已在还款中</a>
                            #else
                            #if($!borrow.transfer==0)
                            <a class="btn btn-primary btn-large theme-login" href="javascript:;"
                               data-ta="$!borrow.borrow_name"
                               data-money="$numberTool.format($!borrow.anum)"
                               data-repaymentaccount="$numberTool.format($!borrow.repaymentAccount)"
                               data-waitinterest="$numberTool.format($!borrow.waitInterest)"
                               data-waitaccount="$numberTool.format($!borrow.waitAccount)"
                               data-id="$borrow.id">放入转让市场</a>
                            #elseif($!borrow.transfer==1)
                            <a id="theme-exit">取消转让</a>
                            <input type="hidden" value="$weburl/myhome/delMarket.html?tenderId=$!borrow.id"
                                   id="theme-exit-value">
                            #end
                            #end
                        </td>
                    </tr>
                    #end
                    #end
                    </tr>
                    </tbody>
                </table>
            </div>
            <form id="borrowForm" name="borrowForm" action="$weburl/myhome/tenderSearch.html">
                <input type="hidden" id="page" name="page" #if($!page) value="$page" #else value="1" #end/>
                #pagination($borrowPage 'borrowForm')
            </form>
        </div>
    </div>
</div>
</div>
#foot()
<script>
    seajs.use('myhome');
</script>
<style type="text/css">
    .theme-popover {
        display: none;
        position: fixed;
        width: 350px;
        height: 400px;
        left: 40%;
        top: 30%;
        background-color: #ffffff;
        z-index: 999;
        box-shadow: 0 0 10px 1px #dcdcdc;
    }

    .mask {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        opacity: .6;
        z-index: 998;
    }

    .theme-poptit {
        position: relative;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .theme-poptit > i {
        display: inline-block;
        position: absolute;
        width: 32px;
        height: 32px;
        background-image: url("$weburl/dist/images/close_icon.png");
        background-size: 100%;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    #theme-exit {
        cursor: pointer;
    }

    .theme-signin label {
        display: inline-block;
        vertical-align: middle;
        height: 35px;
        line-height: 35px;
        width: 100px;
        text-align: right;
    }

    .btn-sub {
        text-align: center;
        padding-top: 15px;
    }

    .btn-sub > input[type="button"] {
        width: 70%;
        height: 35px;
        background-color: #67B5E3;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 10px;
    }

    .btn-sub > input[type="submit"]:hover {
        background-color: #00A12D;
        -webkit-transition: background-color .3s linear;
        -moz-transition: background-color .3s linear;
        -ms-transition: background-color .3s linear;
        -o-transition: background-color .3s linear;
        transition: background-color .3s linear;
    }
</style>
<div class="mask"></div>
<div class="theme-popover">
    <div class="theme-poptit">
        <h3>放入转让市场</h3>
        <i></i>
    </div>
    <div class="theme-popbod dform">
        <form class="theme-signin" name="loginform" action="$weburl/myhome/addmarket.html" method="post" id="zhaiform">
            <input type="hidden" name="id" id="id">
            <div><label for="">标题：</label><input class="ipt" type="text" name="borrowName" readonly="readonly"
                                                 style="height:35px;"/></div>
            <div><label for="">投资本金：</label><input class="ipt" type="text" name="money" readonly="readonly"
                                                   style="height:35px;"/></div>
            <div><label for="">应收总额：</label><input class="ipt" type="text" name="repaymentAccount" readonly="readonly"
                                                   style="height:35px;"/>
            </div>
            <div><label for="">待收利息：</label><input class="ipt" type="text" name="waitInterest" readonly="readonly"
                                                   style="height:35px;"/></div>
            <div><label for="">待收本金：</label><input class="ipt" type="text" name="waitAccount" readonly="readonly"
                                                   style="height:35px;"/></div>
            <div><label for="">现价：</label><input class="ipt" type="text" name="newprice" id="newprice"
                                                 style="height:35px;"/></div>
            <div class="btn-sub"><input class="btn btn-primary" type="button" name="sub-btn" value=" 提交 " id="sub-btn"/>
            </div>
            <div style="text-align: center" class="tip"></div>
        </form>
    </div>
</div>
<div class="theme-popover-mask"></div>
<script>
    jQuery(document).ready(function ($) {
        $(".mask").css("height", $(document).height());
        $(".theme-popover").css({
            "left": ($(window).width() - 350) / 2 + "px",
            "top": ($(window).height() - 400) / 2 + "px"
        });
        $(".theme-poptit>i").on("click", function () {
            $(".theme-popover").css("display", "none");
            $(".mask").css("display", "none");
        });
        $("#theme-exit").on("click", function () {
            var flag = confirm("真的确定取消转让吗？");
            if (flag === true) {
                $(this).attr("href", $("#theme-exit-value").val());
            }
        });
        $("#sub-btn").on("click", function () {
            var flag = /^\d+(\.\d{1,2})?$/.test($("#newprice").val());
            if (flag === true) {
                var a = confirm("真的确定放入转让市场吗？");
                if (a === true) {
                    document.getElementById("zhaiform").submit();
                }
            } else {
                $(".tip").text("现价输入错误，请重新输入");
            }
        });
        $("#newprice").on("focus", function () {
            $(".tip").text("");
        });
        $(".theme-login").click(function () {
            $(".mask").css("display", "inline-block");
            var borrowName2 = $(this).data('ta');
            var borrowName = borrowName2;

            var money2 = $(this).data('money');
            var money = parseFloat(money2);

            var repaymentAccount2 = $(this).data('repaymentaccount');
            var repaymentAccount = parseFloat(repaymentAccount2);

            var waitInterest2 = $(this).data('waitinterest');
            var waitInterest = parseFloat(waitInterest2);

            var waitAccount2 = $(this).data('waitaccount');
            var waitAccount = parseFloat(waitAccount2);

            var id = $(this).data('id');

            $('form[name=loginform] input[name=id]').val(id);
            $('form[name=loginform] input[name=borrowName]').val(borrowName);

            $('form[name=loginform] input[name=id]').val(id);
            $('form[name=loginform] input[name=money]').val(money);

            $('form[name=loginform] input[name=id]').val(id);
            $('form[name=loginform] input[name=repaymentAccount]').val(repaymentAccount);

            $('form[name=loginform] input[name=id]').val(id);
            $('form[name=loginform] input[name=waitInterest]').val(waitInterest);

            $('form[name=loginform] input[name=id]').val(id);
            $('form[name=loginform] input[name=waitAccount]').val(waitAccount);

            $(".theme-popover-mask").fadeIn(100);
            $(".theme-popover").slideDown(200);
        })
        $(".theme-poptit .close").click(function () {
            $('form[name=loginform] input[name=id]').val('');
            $('form[name=loginform] input[name=borrowName]').val('');

            $('form[name=loginform] input[name=id]').val('');
            $('form[name=loginform] input[name=money]').val('');

            $('form[name=loginform] input[name=id]').val('');
            $('form[name=loginform] input[name=repaymentAccount]').val('');

            $('form[name=loginform] input[name=id]').val('');
            $('form[name=loginform] input[name=waitInterest]').val('');

            $('form[name=loginform] input[name=id]').val('');
            $('form[name=loginform] input[name=waitAccount]').val('');
            $(".theme-popover-mask").fadeOut(100);
            $(".theme-popover").slideUp(200);
        })

    })
</script>