#topbar("G");
#user_sidebar("22")
			<div class="user-page">
				<div class="user-profile">
					<nav class="user-nav-tabs">
						<a class="active">提现</a>
					</nav>
					<form class="pure-form form  recharge" method="post" action="${weburl}/qddApi/toloanwithdraws.html" id="tmoney-form">
						<div class="field">
							<label class="realname" style="margin-left:1px;">可用余额：</label>
							<span class="name">￥$!viewTool.format2($!userAccount.moneyUsable)</span>
						</div>
<!-- 						<div class="field"> -->
<!-- 							<label class="realname" style="margin-left:1px;">冻结金额：</label> -->
<!-- 							<span class="name">¥0.00</span> -->
<!-- 						</div> -->
						<span class="field">
                          <label><span class="red">*</span>提现金额：</label>
						<input type="text" name="tmoney" id="tmomey" onkeyup="if(this.value==this.value2)return;if(this.value.search(/^\d*(?:\.\d{0,2})?$/)==-1)this.value=(this.value2)?this.value2:'';else this.value2=this.value;">
						</span>
						<span class="field mt15" style="margin-left:-110px;">
                          <button class="pure-button button-primary" id="tmoney-sub">提 交</button>
                        </span>
					</form>
					<div class="instruction mt100">
						<h2>温馨提示</h2>
						<h4>通过微信端快捷支付充值的金额只能提现至与充值银行卡号相同的银行卡</h4>
						<h4>1.每日提现有上限吗？</h4>
						<p>答：钱功夫提现没有上限，1元＜单笔提现金额≤500万元。</p>
						<h4>2.提现后多久能到账？</h4>
						<p>答：钱功夫提现采用T+1到账模式，节假日或提现金额大于五万到账时间顺延下一工作日。
						</p>
						<h4>3.提现手续费怎么收取？</h4>
						<p>答：钱功夫不收取任何提现手续费。</p>
					</div>
				#if($!msg)
				<div id="tipBox" style="display:block;">
					<header class="clearfix"><a href="javascript:closewin()" class="close_btn">X</a></header>
					<div class="tip-content">
						<p>#if($!msg.indexOf("成功")>0) <i class="icon icon-success"></i> #else <i class="icon icon-fail"></i> #end &nbsp;$!msg</p>
					</div>
				</div>
				<div class="mask" style="display:block"></div>
				#end
				</div>
			</div>
		</div>
#foot()
		<script>
			seajs.use('myhome');
		</script>