#topbar('A')
		<div class="slider" id="slider">
			<a class="slide" data-img="public/images/banner.png"></a>
			<a class="slide" data-img="public/images/banner.png"></a>
			<a class="slide" data-img="public/images/banner.png"></a>
			<div class="mid-width">
				<div class="slider-dialogbg"></div>
				<div class="slider-dialog">
					<h3>最高年化收益率</h3>
					<span class="percent">16.<small>00%</small></span>
					<p class="method">安全可靠的互联网理财方式</p>
					<a href="${weburl}/signup.html" class="pure-button button-primary"> 注&nbsp;&nbsp;册</a>
					<label class="more">
						<span><a href="${weburl}/tologin.html">立即登录</a></span>
					</label>
				</div>
				<!--登录后的状态，不要手快给我删除哟
				<div class="slider-dialogbg"></div>
				<div class="slider-dialog" style="margin-top:50px;">
					<h3>最高年化收益率</h3>
					<span class="percent">16.<small>00%</small></span>
					<p class="method">安全可靠的互联网理财方式</p>
				</div>
				-->
			</div>
		</div>
		<div class="white">
			<div class="mid-width">
				<div class="pure-g">
					<div class="pure-u-1-4">
						<div class="item-list clearfix">
							<i class="icon item-user float-left"></i>
							<div class="float-left">
								<h3>$!uas.zrs</h3>
								<p class="item-list-info">
									精明的理财人已经加入钱功夫理财
								</p>
							</div>
							<span class="border-right"></span>
						</div>
					</div>
					<div class="pure-u-1-4">
						<div class="item-list clearfix">
							<i class="icon item-income float-left"></i>
							<div class="float-left">
								<h3>10.00%</h3>
								<p class="item-list-info">
									逆天收益，持续为您增加收入
								</p>
							</div>
							<span class="border-right"></span>
						</div>
					</div>
					<div class="pure-u-1-4">
						<div class="item-list clearfix">
							<i class="icon item-account float-left"></i>
							<div class="float-left">
								<h3>$!uas.accountInvestTotal</h3>
								<p class="item-list-info">
									累计投资金融
								</p>
							</div>
							<span class="border-right"></span>
						</div>
					</div>
					<div class="pure-u-1-4">
						<div class="item-list clearfix">
							<i class="icon item-userIncome float-left"></i>
							<div class="float-left">
								<h3>$!uas.accountinteresttotal</h3>
								<p class="item-list-info">
									为用户赚取收益
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mid-width clearfix">
			<div class="hp-instruction">
				<div class="instruction i1 clearfix">
					<i class="icon icon-double float-left"></i>
					<div class="product-info">
						<h3>双优理财产品</h3>
						<p class="hp-instruction-info">
							层层精选，信息透明，
							<br /> 安全放心
						</p>
					</div>
				</div>
				<div class="instruction i2 clearfix">
					<i class="icon icon-cheap float-left"></i>
					<div class="product-info">
						<h3>低门槛高收益</h3>
						<p class="hp-instruction-info">
							投资门槛低，产品回报高，
							<br /> 可达16%
						</p>
					</div>
				</div>
				<div class="instruction i3 mr0 clearfix">
					<i class="icon icon-quick float-left"></i>
					<div class="product-info">
						<h3>三方托管无忧</h3>
						<p class="hp-instruction-info">
							权威的第三方支付托管，
							<br /> 资金安全无忧
						</p>
					</div>
				</div>
			</div>
			<div class="instruction-app">
				<h3>邀请送现金</h3>
				<p>邀请越多奖励越多</p>
				<a href="javascript:;">立即前往</a>
			</div>
			<div class="hp-prediction">
				<h3>[钱功夫]16021-231 &nbsp;<span>预告标</span></h3>
				<ul class="clearfix">
					<li class="short-width">
						<p>项目期限</p>
						<p><span>10</span> 天</p>
					</li>
					<li>
						<p>年化收益</p>
						<p><span>12.00 </span> %+<em class="bold">0.02%</em></p>
					</li>
					<li>
						<p>起投金额 </p>
						<p><span>100.00</span> 元</p>
					</li>
					<li class="short-width">
						<a href="javascript:;">立即查看</a>
					</li>
				</ul>
			</div>
			<div class="hp-notice">
				<header class="clearfix">
					<span class="title">官方公告</span>
					<span class="more"><a href="#">更多&gt;</a></span>
				</header>
				<ul class="hp-notice-content">
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
				</ul>
			</div>
			<div class="hp-product">
				<span class="product">精选理财产品</span>
				<span class="time"><i class="icon icon-notice"></i>工作日10:00、14:00更新，周末与其他时间随机</span>
				<span><a href="#" class="more">更多&gt;</a></span>
			</div>
			<div class="hp-notice hp-record">
				<header class="clearfix">
					<span class="title">投资记录与收益</span>
				</header>
				<div style="height:440px; overflow:hidden;" id="scrollNews">
					<ul class="hp-notice-content hp-record-content">
						<li><img src="public/images/product.png" /> <span class="font-12">184****8888</span> &nbsp;&nbsp;<span class="font-12">投资</span> <span class="money">￥500 </span></li>
						<li><img src="public/images/product.png" /> <span class="font-12">184****8888</span> &nbsp;&nbsp;<span class="font-12">投资</span> <span class="money">￥500 </span></li>
						<li><img src="public/images/product.png" /> <span class="font-12">184****8888</span> &nbsp;&nbsp;<span class="font-12">投资</span> <span class="money">￥500 </span></li>
						<li><img src="public/images/product.png" /> <span class="font-12">184****8888</span> &nbsp;&nbsp;<span class="font-12">投资</span> <span class="money">￥500 </span></li>
						<li><img src="public/images/product.png" /> <span class="font-12">184****8888</span> &nbsp;&nbsp;<span class="font-12">投资</span> <span class="money">￥500 </span></li>
						<li><img src="public/images/product.png" /> <span class="font-12">184****8888</span> &nbsp;&nbsp;<span class="font-12">投资</span> <span class="money">￥500 </span></li>
						<li><img src="public/images/product.png" /> <span class="font-12">184****8888</span> &nbsp;&nbsp;<span class="font-12">投资</span> <span class="money">￥500 </span></li>
					</ul>
				</div>
			</div>
			<div class="hp-project">
				#foreach($bor in $!borList)
				#set($remoney=$!bor.account - $!bor.accountYes)
				#set($account=$!bor.account/10000)
				<div #if($index==3 || $index==6) class="hp-newProject mr0" #else class="hp-newProject" #end>
					<header>$!bor.name</header>
					<div class="hp-newProject-content">
						<p class="income">年化收益</p>
						<p class="percent">$viewTool.subStrApr($!bor.apr)<small>$viewTool.subEndApr($!bor.apr)%<em>+0.03%</em></small></p>
						<div class="progress" data-percent="$bor.scale%"></div>
						<p class="finance">已融资$bor.scale% | 剩余$viewTool.decToStr4($remoney)元</p>
						<p class="finance">
						#if($!bor.isDay=='1')
                              <span class="black">$!bor.timeLimit</span>天
                        #else
                              <span class="black">$!bor.timeLimit</span>个月
                        #end | <span class="black"></span>$viewTool.decToStr8($account) 万 | <span class="black">$!bor.persionSize</span> 人已投</p>
					</div>
					<button class="pure-button button-primary">马上购买</button>
				</div>
				#end
			</div>
			<div class="hp-notice hp-report">
				<header class="clearfix">
					<span class="title">媒体报道</span>
					<span class="more"><a href="#">更多&gt;</a></span>
				</header>
				<ul class="hp-notice-content">
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
					<li class="clearfix"><a href="javascript:;" class="notice-content">项目发布预告-2015.03.17</a><span class="float-right">2015/03/17</span></li>
				</ul>
			</div>
		</div>
		<div class="w1200 hp-partner white">
			<h3>合作伙伴</h3>
			<div id="mx-left">
				<div class="mx-hidden">
					<div class="mx-width">
						<div class="mx-content clearfix">
							<a href="" target="_blank"><img src="public/images/partner.png"></a>
							<a href="" target="_blank"><img src="public/images/partner.png"></a>
							<a href="" target="_blank"><img src="public/images/partner.png"></a>
							<a href="" target="_blank"><img src="public/images/partner.png"></a>
							<a href="" target="_blank"><img src="public/images/partner.png"></a>
						</div>
					</div>
				</div>
				<!--<div class="mx-key">
					<a href="javascript:;" class="mx-key-back"><i class="icon icon-back"></i></a>
					<a href="javascript:;" class="mx-key-next"><i class="icon icon-next"></i></a>
				</div>-->
			</div>
		</div>
#foot()
		<div id="online_qq_layer">
			<div id="online_qq_tab">
				<div class="Calculator item">
					<a href="javascript:void(0);">
						<i class="icon icon-calculator"></i>
					</a>
				</div>
				<div class="QQ item">
					<a target="_blank" href="javascript:void(0));">
						<i class="icon icon-kefu"></i>
					</a>
				</div>
				<div class="clear"></div>
				<div class="sina item">
					<a href="javascript:void(0);">
						<i class="icon icon-wechart-slide"></i>
					</a>
				</div>
				<!--<div class="phone item">
					<a href="javascript:void(0);">
						<i class="icon icon-qq-aside"></i>
					</a>
				</div>-->
				<div class="wechat item" id="moquu_top">
					<a href="javascript:void(0)" style="display: inline-block;">
						<i class="icon icon-close"></i>
					</a>
				</div>
			</div>
			<div id="onlineService" style="display: none;">
				<!-- QQ-->
				<div id="qqHot" style="display: none;">
					<ul>
						<li>
							<a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDAyMTcxM18zMjA4MjJfODAwMDIxNzEzXzJf">
								<!--<img style="margin:-5px 5px;" border="0" src="public/images/button_51.gif" alt="点击,给我发消息" title="点击这里,给我发消息">-->客服热线400-335-4857
							</a>
						</li>
					</ul>
				</div>
				<!-- weichat -->
				<div id="sina_img" style="display: none;">
					<ul>
						<li><img src="public/images/footer-code.png" height="170" width="170"></li>
					</ul>
				</div>
				<!-- end weichat -->
				<!-- 收益计算 calc -->
				<div id="Calculator_Con" style="font-size: 12px; display: block;">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="33%" height="23" align="center">
									<label class="Calculator_text">
										<input type="radio" value="按月计息" name="money" id="calculator_mounth" checked=""> 按月计息
									</label>
								</td>
								<td width="44%" align="center">
									<label class="Calculator_text">
										<input type="radio" value="天计息" name="money" id="calculator_day"> 按天计息
									</label>
								</td>
							</tr>
							<tr>
								<td height="20" colspan="2" align="left">
									<div class="Calculator_title">投资金额(RMB元)：</div>
								</td>
							</tr>
							<!--输入本金-->
							<tr>
								<td height="20" colspan="2">
									<input type="text" class="calculator_in" id="cash_con" value="100000">
								</td>
							</tr>
							<tr>
								<td height="20" colspan="2" align="left">
									<div class="Calculator_title">收益率：(%)：</div>
								</td>
							</tr>
							<!--输入利率-->
							<tr>
								<td height="20" colspan="2">
									<input type="text" class="calculator_in" value="8" id="calcul_con">
								</td>
							</tr>
							<!--
						<tr>
							<td height="20" colspan="2" align="left">
								<div class="Calculator_title">
									奖励(%）：
								</div>
							</td>
						</tr>
						
						<tr>
							<td height="20" colspan="2">
								<input type="text" class="calculator_in" value="2" id="great_con">
							</td>
						</tr>-->
							<tr>
								<td height="20" colspan="2" align="left">
									<div class="Calculator_title">
										借款时间 <span id="dvmounth" style="display: inline;">(月)</span><span id="dvday" style="display: none;">(天)</span>：
									</div>
								</td>
							</tr>
							<!--输入时间-->
							<tr>
								<td height="20" colspan="2" id="dvmounth_con" style="display: table-cell;">
									<input type="text" class="calculator_in" id="mounth_time_con" value="1">
								</td>
								<td width="23%" height="20" colspan="2" id="dvday_con" style="display: none;">
									<input type="text" class="calculator_in" id="day_time_con" value="28">
								</td>
							</tr>
							<tr>
								<td height="20" colspan="2" align="left">
									<div class="Calculator_title">预计收益</div>
								</td>
							</tr>
							<!--得出收益-->
							<tr>
								<td height="20" colspan="2">
									<input type="text" class="relust_con" value="" readonly="readonly">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- end calc -->
			</div>
		</div>
		<script src="public/lib/mx-slide/mx-slide-min.js"></script>
		<script type="text/javascript" src="src/js/common.js"></script>
		<script>
			seajs.use('index');
			mx_slide('.hp-partner #mx-left').mode('left').start();
		</script>
	</body>

</html>