<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<title>钱功夫</title>
		<link rel="stylesheet" type="text/css" href="public/css/style.min.css">
		<script>
			var ROOT_URL = 'http://127.0.0.1:8020/qgf';
			var seajsEnv = {
				'mode': 'development',
				'debug': true
			};
		</script>
		<script src="public/lib/sea.js"></script>
		<script src="public/lib/jquery-1.11.2.min.js"></script>
		<script src="public/js/config.js"></script>
	</head>

	<body class="white">
		<div class="topbar">
			<div class="mid-width clearfix">
				<div class="cs-info">
					<i class="icon icon-phone"></i> 服务热线：<span class="red">4008-0571-92</span>
					<span>服务时间：9：00-18：00</span>
					<i class="icon icon-sina"></i> &nbsp;&nbsp;<i class="icon icon-qq"></i>
				</div>
				<nav class="opt nav-guest">
					<a href="#" class="reset">欢迎来到钱功夫！</a>
					<a href="#" class="ml0 red">注册</a>|
					<a href="#">登录</a>|
					<a href="#">帮助中心</a>
				</nav>
			</div>
		</div>
		<div class="top-navi-menu">
			<div class="mid-width">
				<div class="logo">
					<a href="index.html"><img src="public/images/logo.png" alt=""></a>
				</div>
				<nav class="nav-navi">
					<ul class="clearfix">
						<li class="active ml0"><a href="index.html">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">安全保障</a></li>
						<li><a href="#">新手指南</a></li>
						<li>
							<a href="#">关于我们</a>
							<ul class="menu-child">
								<li><a href="javascript:;">平台规则</a></li>
								<li><a href="javascript:;">平台公告</a></li>
								<li><a href="javascript:;">行业资讯</a></li>
							</ul>
						</li>
						<li><a href="#">我的帐户</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="news-wrap">
			<div class="new-banner"></div>
			<div class="step step1">
				<img src="public/images/step1.png" />
				<h2 class="new-title">开启财智新生活</h2>
				<p>钱功夫，专注于通过更高效、更便捷、更安全的方式为您的家庭理财保驾护航，让“互联网+金融”的新型理财模式走进您的生活。钱功夫将为您提供优质的投资项目，让您“掌”握理财新机，助您开启财智新生活！</p>
			</div>
			<div class="white">
				<div class="step step2">
					<img src="public/images/step2.png" />
					<h2 class="new-title">我们如何运作</h2>
					<div class="clearfix">
						<p class="step2-content">
							1)选择国内知名、实力雄厚的金融机构进行战略合作，获得独家授权的优质投资标的；
							<br /> 2)多层优选合作机构的理财产品，从产品和机构两个层面为用户权益提供100%保障；
							<br /> 3)通过APP、微信公众平台、移动社群以及PC端将精选产品推荐给投资者（注册用户）；
							<br /> 4)投资者可以通过平台了解、申购和购回产品，交易过程由第三方支付公司全程进行资金托管；
						</p>
						<img src="public/images/yunzuo.png" class="float-right mt50" />
					</div>
				</div>
			</div>
			<div class="step step3">
				<img src="public/images/step3.png" />
				<h2 class="new-title">精选理财产品</h2>
				<img src="public/images/product-index.png" class="mt50" />
			</div>
			<div class="white">
				<div class="step step4">
					<img src="public/images/step4.png" />
					<h2 class="new-title">精选理财产品</h2>
					<div id="mx-left">
						<div class="mx-hidden">
							<div class="mx-width">
								<div class="mx-content">
									<a href="javascript:void(0);"><img src="public/images/news-product.png" /></a>
									<a href="javascript:void(0);"><img src="public/images/news-product.png"></a>
									<a href="javascript:void(0);"><img src="public/images/news-product.png"></a>
								</div>
							</div>
						</div>
						<div class="mx-key">
							<a href="javascript:;" class="mx-key-back"><</a>
							<a href="javascript:;" class="mx-key-next">></a>
						</div>
					</div>
				</div>
			</div>
			<div class="site-footer">
				<div class="w1200 clearfix">
					<div class="footer-left">
						<ul class="clearfix">
							<li><a href="#">帮助中心</a></li>
							<li><a href="#">常见问题</a></li>
							<li><a href="#">新手指南</a></li>
							<li><a href="#">关于我们</a></li>
							<li style="margin-right:25px;"><a href="#">关注我们</a>&nbsp;&nbsp;
								<div class="float-right"><img src="public/images/wechart-code.png">
									<p>钱功夫</p>
								</div>
							</li>
							<li style="margin-right:25px;">
								<div class="float-right"><img src="public/images/wechart-code.png">
									<p>钱功夫</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="footer-right">
						<p class="hotline">客服热线（工作时间 9:00-18:00）</p>
						<p><strong>400-000-8888</strong><i class="icon icon-service"></i><span class="service">kefu@qiang.com</span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="w1200">
				<ul class="clearfix">
					<li><a href="#"><i class="icon icon-logo1"></i></a></li>
					<li><a href="#"><i class="icon icon-logo2"></i></a></li>
					<li><a href="#"><i class="icon icon-logo3"></i></a></li>
					<li><a href="#"><i class="icon icon-logo4"></i></a></li>
					<li><a href="#"><i class="icon icon-logo5"></i></a></li>
				</ul>
				<span>版权所有：2013©雄猫软件  京ICP备13052580号-1</span>
			</div>
		</div>
		<script type="text/javascript" src="public/lib/mx-slide/mx-slide-min.js"></script>
		<script type="text/javascript">
			mx_slide('#mx-left').mode('left').start();
		</script>
	</body>

</html>