<div class="site-footer">
			<div class="w1200 clearfix">
				<div class="footer-left">
					<ul class="clearfix">
						<li><a href="${weburl}/about/help.html">帮助中心</a></li>
						<li><a href="${weburl}/about/help.html">常见问题</a></li>
						<li><a href="${weburl}/newGuide.html">新手指南</a></li>
						<li><a href="${weburl}/news/aboutus.html">关于我们</a></li>
						<li style="margin-right:25px;"><a>关注我们</a>&nbsp;&nbsp;
							<div class="float-right"><img src="${weburl}/public/images/weChatDouble.jpg">
								<p>钱功夫</p>
							</div>
						</li>
						<!--<li style="margin-right:25px;">
							<div class="float-right"><img src="${weburl}/public/images/wechart-code.png">
								<p>钱功夫</p>
							</div>
						</li>
					--></ul>
				</div>
				<div class="footer-right">
					<p class="hotline">客服热线（工作时间 9:00-17:30）</p>
					<p><strong>400-6052-677 </strong><i class="icon icon-service"></i><span class="service">kefu@money-99.com</span></p>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="w1200">
				<!--<ul class="clearfix">
					<li><a href="#"><i class="icon icon-logo1"></i></a></li>
					<li><a href="#"><i class="icon icon-logo2"></i></a></li>
					<li><a href="#"><i class="icon icon-logo3"></i></a></li>
					<li><a href="#"><i class="icon icon-logo4"></i></a></li>
					<li><a href="#"><i class="icon icon-logo5"></i></a></li>
				</ul>
				--><span style="display:block;">备案号：浙ICP备16004794号&nbsp;&nbsp;杭州钱坤互联网金融服务有限公司</span>
			</div>
		</div>
	</body>
</html>