#topbar('E')
		<div class="news-wrap">
			<div class="new-banner"></div>
			<div class="step step1">
				<img src="public/images/step1.png" />
				<h2 class="new-title">开启财智新生活</h2>
				<p>钱功夫，专注于通过更高效、更便捷、更安全的方式为您的家庭理财保驾护航，让“互联网+金融”的新型理财模式走进您的生活。钱功夫将为您提供优质的投资项目，让您“掌”握理财新机，助您开启财智新生活！</p>
			</div>
			<div class="white">
				<div class="step step2">
					<img src="public/images/step2.png" />
					<h2 class="new-title">我们如何运作</h2>
					<div class="clearfix">
						<p class="step2-content">
							1)选择国内知名、实力雄厚的金融机构进行战略合作，获得独家授权的优质投资标的；
							<br /> 2)多层优选合作机构的理财产品，从产品和机构两个层面为用户权益提供100%保障；
							<!--<br /> 3)通过APP、微信公众平台、移动社群以及PC端将精选产品推荐给投资者（注册用户）；-->
							<br /> 3)通过PC端将精选产品推荐给投资者（注册用户）；
							<br /> 4)投资者可以通过平台了解、申购和购回产品，交易过程由第三方支付公司全程进行资金托管；
						</p>
						<img src="public/images/yunzuo.png" class="float-right mt50" />
					</div>
				</div>
			</div>
			<div class="step step3">
				<img src="public/images/step3.png" />
					<h2 class="new-title">钱功夫怎么玩</h2>
					<div id="mx-left">
						<div class="mx-hidden">
							<div class="mx-width">
								<div class="mx-content">
									<a href="javascript:void(0);"><img src="public/images/news-product.png" /></a>
									<a href="javascript:void(0);"><img src="public/images/news-product1.png"></a>
									<a href="javascript:void(0);"><img src="public/images/new-help.png"></a>
								</div>
							</div>
						</div>
						<div class="mx-key">
							<a href="javascript:;" class="mx-key-back"><</a>
							<a href="javascript:;" class="mx-key-next">></a>
						</div>
					</div>
			</div>
			<script type="text/javascript" src="public/lib/mx-slide/mx-slide-min.js"></script>
			<script type="text/javascript">
				mx_slide('#mx-left').mode('left').start();
			</script>
		#foot()