#topbar('D')
		<div class="safe">
			<div class="instruction i1">
				<i class="icon safe1"></i>
				<h3 class="font-25">资金安全</h3>
			</div>
			<div class="instruction i2">
				<i class="icon safe2"></i>
				<h3 class="font-25">技术安全</h3>
			</div>
			<div class="instruction i3">
				<i class="icon safe3"></i>
				<h3 class="font-25">投资安全</h3>
			</div>
			<div class="instruction i3 mr0">
				<i class="icon safe4"></i>
				<h3 class="font-25">法律合规</h3>
			</div>
		</div>
		<div class="white">
			<div class="safe clearfix">
				<div class="safe1 float-left clearfix">
					<h1>资金安全</h1>
					<p class="special">
						平台选择国内知名第三方支付公司—双乾支付进行资金托管,确保资金绝对安全；
						<br /> 同人同卡进出，客户资金划转与收益支付只能通过客户在平台绑定并认证过的银行账户来实现。
					</p>
					<p class="safe-info">
						双乾是国内领先的独立第三方支付企业，旨在为各类企业及个人提供安全、便捷和保密的综合电子支付服务，与工行、农行、中行、建行、招行等全国数十家银行、金融机构及国内知名企业结成战略合作伙伴，是支付产品最丰富、应用最广泛的电子支付企业之一。
					</p>
				</div>
				<i class="icon icon-safe1 float-left"></i>
			</div>
		</div>
		<div class="safe clearfix">
			<i class="icon icon-safe2 float-left"></i>
			<div class="safe1 float-right">
				<h1>技术安全</h1>
				<p class="special">
					平台对敏感数据全加密存储，安全级别高，可靠性强。
				</p>
				<p class="safe-info">
					最强大的技术力量
					<br /> 技术研发团队主要是来自微软的PC开发团队和腾讯的无线研发团队，工程师多数来自知名金融IT服务机构，具备多年数据处理，金融软件开发经验。
					<br /> 最优化的借贷流程
					<br /> 注重用户体验，操作步骤清晰简单，根据客户需求，进行诊断，分析，优化，提供最有业务流程建议。
				</p>
			</div>
		</div>
		<div class="white">
			<div class="safe clearfix">
				<div class="safe1 float-left">
					<h1>投资安全</h1>
					<p class="special">
						严格风控措施，双优选品
					</p>
					<p class="safe-info">
						平台所有产品上线前必须进行严格的风控管理，进行多层次、多指标、全过程筛选，进行实地调研，严格把控产品风险；
						<br /> 严审产品给付能力，从项目本身和产品发行方两个方面确保100%本息给付；
					</p>
					<p class="special">
						产品信息披露，透明公开
					</p>
					<p class="safe-info">
						产品上线时，平台将相关基本信息予以公开公示，相关信息一览无余,帮助用户更好地识别和选择合适家庭理财的产品；
					</p>
				</div>
				<i class="icon icon-safe3 float-left"></i>
			</div>
		</div>
		<div class="safe clearfix">
			<i class="icon icon-safe4 float-left"></i>
			<div class="safe1 float-right">
				<h1>法律合规</h1>
				<p class="special">
					关于钱功夫模式的合法性
				</p>
				<p class="safe-info">
					根据《民法通则》第七十一条财产所有权是指所有人依法对自己的财产享有占有、使用、收益和处分的权利。钱功夫提供转让方转让其持有金融财产部分或全部权利的机会，符合现行法律的规定。
				</p>
				<p class="special">
					关于钱功夫提供服务的合法性
				</p>
				<p class="safe-info">
					根据《合同法》第23章关于"居间合同"的规定，特别是第424条规定的"居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同"，钱功夫为客户提供投资机会的居间服务有着明确的法律基础。
				</p>
				<p class="special">
					关于电子合同的合法性
				</p>
				<p class="safe-info">
					根据《电子签名法》的规定，民事活动中的合同或者其他文件、单证等文书，当事人可以约定使用电子签名、数据电文，不能因为合同采用电子签名、数据电文就否定其法律效力。同时，《电子签名法》中还规定，可靠的电子签名与手写签名或者盖章具有同等的法律效力，明确肯定了符合条件的电子签名与手写签名或盖章具有同等的效力。
				</p>
			</div>
		</div>
	#foot()