<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-cache" /> 
<meta http-equiv="Expires" content="0" /> 
<title>网贷转账页面返回 - 乾多多</title>
</head>
<body>
	转账列表:${LoanJsonList}
	<br/>
	操作类型:${Action}
	<br/>
	平台标识:${PlatformMoneymoremore}
	<br/>
	随机时间戳:${RandomTimeStamp}
	<br/>
	返回码:${ResultCode}
	<br/>
	返回信息:${Message}
	<br/><br/>
	页面返回:${verifySignature}
</body>
</html>