<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>网贷转账 - 乾多多</title>
<script type="text/javascript">
	window.onload=function(){document.form1.submit();}
</script>
</head>
<body>
正在跳转到钱多多支付页面，请稍等....
	<form id="form1" name="form1" action="${SubmitURL}" method="post">
		<input id="LoanJsonList" name="LoanJsonList" value="${LoanJsonList}" type="hidden" />
		<br/>
		<input id="PlatformMoneymoremore" name="PlatformMoneymoremore" value="${PlatformMoneymoremore}" type="hidden" />
		<br/>
		<input id="TransferAction" name="TransferAction" value="${TransferAction}" type="hidden" />
		<br/>
		<input id="Action" name="Action" value="${Action}" type="hidden" />
		<br/>
		<input id="TransferType" name="TransferType" value="${TransferType}" type="hidden" />
		<br/>
		<input id="NeedAudit" name="NeedAudit" value="${NeedAudit}" type="hidden" />
		<br/>
		<input id="RandomTimeStamp" name="RandomTimeStamp" value="${RandomTimeStamp}" type="hidden" />
		<br/>
		<input id="Remark1" name="Remark1" value="${Remark1}" type="hidden" />
		<br/>
		<input id="Remark2" name="Remark2" value="${Remark2}" type="hidden" />
		<br/>
		<input id="Remark3" name="Remark3" value="${Remark3}" type="hidden" />
		<br/>
		<input id="ReturnURL" name="ReturnURL" value="${ReturnURL}" type="hidden" />
		<br/>
		<input id="NotifyURL" name="NotifyURL" value="${NotifyURL}" type="hidden" />
		<br/>
		<input id="SignInfo" name="SignInfo" value="${SignInfo}" type="hidden" />
	</form>
</body>
</html>