<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8" />
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<meta content="yes" name="apple-touch-fullscreen"/>
		<meta content="telephone=no" name="format-detection"/>
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" type="text/css" href="${weburl}/dist/css/style.min.css"/>
		<script src="${weburl}/dist/libs/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="${weburl}/dist/js/index.js" type="text/javascript" charset="utf-8"></script>
		<title>钱功夫</title>
	</head>
	<body class="mi">
		<div class="title-top text-align-center">
	          <img src="${weburl}/dist/images/back.png" height="90%" class="title-top-i1" onclick="window.location.href='javascript:history.back(-1)'"/>
	          <span class="titleTitle">关于我们</span>
	          <span class="spanWhite"></span>
	     #rightmenu()
    </div>
    <div class="glassMode" onclick="closeRight()"></div>
	    <div class="text-align-center" style="margin-top: 15%;height: 30%;">
	    	<img src="${weburl}/dist/images/bigLogo.png" height="70%"/>
	    </div>
	    <div class="aboutUs-text">钱功夫隶属于杭州钱坤互联网金融服务有限公司，总部位于杭州，是由浙江八相金融服务外包公司发起、设立投资的聚焦于汽车金融的互联网金融服务平台。</div>
	    <div class="cell-50" style="padding-left: 15%;">
	    	<img src="${weburl}/dist/images/wechat.png"/>官网微信
	    </div><div class="text-align-right cell-50" style="padding-right: 8%;">
	    	钱功夫
	    </div>
	    <div class="cell-50" style="padding-left: 15%;">
	    	<img src="${weburl}/dist/images/phone.png"/>客服电话
	    </div><div class="text-align-right cell-50" style="padding-right: 8%;">
	    	400-6052-677
	    </div>
	    <div style="color: #666666;font-size: 14px;margin-top:8%;padding-bottom: 10%;" class="text-align-center">客服工作时间：9：00-17：30</div>
	</body>
</html>
