<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8" />
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<meta content="yes" name="apple-touch-fullscreen"/>
		<meta content="telephone=no" name="format-detection"/>
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" type="text/css" href="${weburl}/dist/css/style.min.css"/>
		<title>钱功夫</title>
		<script>
			var ROOT_URL = '${weburl}';
			var seajsEnv = {
				'mode': 'development',
				'debug': true
			};
		</script>
		<script src="${weburl}/dist/libs/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="${weburl}/dist/libs/sea.js" ></script>
		<script type="text/javascript" src="${weburl}/dist/src/js/config.js" ></script>
		<script src="${weburl}/dist/js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body class="mi">
	<div class="title-top text-align-center">
          <img src="${weburl}/dist/images/back.png" height="90%" class="title-top-i1" onclick="window.location.href='javascript:history.back(-1)'"/>
          <span class="titleTitle">修改登录密码</span>
          <span class="spanWhite"></span>
     #rightmenu()
    </div>
    <div class="glassMode" onclick="closeRight()"></div>
    <form id="signup-form" action="${weburl}/webapp/myhome/security.html" method="post">
    	<input type="hidden" name="type" value="1">
			<div class="form" style="margin-top: 3%;">
	    		<label for="oldpassword" class="labelHeight">原密码</label><div class="glass"><input type="password" name="oldpassword" placeholder="请输入原登录密码" class="inputText"  required="required"/></div>
	    		<div class="tip"></div>
	    	</div>
	    	<div class="form" style="margin-top: 3%;">
	    		<label for="password" class="labelHeight">新密码</label><div class="glass"><input type="password" name="password" id="password" placeholder="请输入新密码(6-15位字母、数字)" class="inputText" data-validator="password" required="required"/></div>
	    		<div class="tip"></div>
	    	</div>
	    	<div class="form">
	    		<label for="repassword" class="labelHeight">原密码</label><div class="glass"><input type="password" name="repassword" id="onemorepassword" placeholder="请再输入一次新密码" class="inputText" data-validator="repassword" required="required"/></div>
	    		<div class="tip"></div>
	    	</div>
	    	<div class="btn">
	    		<input type="submit" value="确定" />
	    	</div>
	    	#if($!msg)
	    		<div style="color: red">$!msg</div>
	    	#end
    </form>
    <script>
        	seajs.use('signup');
    </script>
	</body>
</html>
