<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8" />
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<meta content="yes" name="apple-touch-fullscreen"/>
		<meta content="telephone=no" name="format-detection"/>
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" type="text/css" href="${weburl}/dist/css/style.min.css"/>
		<title>钱功夫</title>
	    <script src="${weburl}/dist/libs/zepto.min.js"></script>
	    <script src="${weburl}/dist/libs/jquery.js"></script>
	    <script src="${weburl}/dist/libs/raphael-min.js"></script>
	    <script src="${weburl}/dist/libs/progre.js"></script>
	    <script src="${weburl}/dist/js/items-list.js" type="text/javascript" charset="utf-8"></script>
	    <script src="${weburl}/dist/js/index.js" type="text/javascript" charset="utf-8"></script>
        <style>
            .gray{
                background-color: #999!important;
                border-color: #999!important;
            }
        </style>
	<body class="mi">
	<script type="text/javascript">
    	function makejisuan(){
    		var flag=$(".mode").is(":hidden");
    		if(flag==true){
	    		$(".mode").css("display","inline-block");
	    		$(".danchuang").css("display","inline-block");
		    	var moreCellheiht3=$(".cell50").height();
	    		$(".cell50").css("line-height",moreCellheiht3+"px");
	    		var moreCellheiht4=$(".cell50>img").height();
	    		var littleheight2=(moreCellheiht3-moreCellheiht4)/2;
	    		$(".cell50>img").css("top",littleheight2);
    		}
    	}
    	function clearjisuan(){
    		var flag=$(".mode").is(":hidden");
    		if(flag==false){
	    		$(".mode").css("display","none");
	    		$(".danchuang").css("display","none");
    		}
    	}
    </script>
		<div class="title-top text-align-center">
	          <img src="${weburl}/dist/images/back.png" height="90%" class="title-top-i1" onclick="window.location.href='javascript:history.back(-1)'"/>
	          <span class="titleTitle">项目详情</span>
	          <span class="spanWhite"></span>
	     #rightmenu()
    </div>
    <div class="glassMode" onclick="closeRight()"></div>
	    <div class="iteam-details">
	    	<div class="year">预期年化利率</div>
	    	<div class="pase" id="yearMoney">$!borrow.apr<span>%
	    				
			            </span></div>
	    </div>
	    <div class="" style="background-color: #ff7d26;padding: 3% 0;">
		    <div class="grid50" style="border-right: 1px solid white;margin-bottom: 2%;color: white;">
		   	    	<div class="midfont text-align-center">转让金额(元)
		   	    	</div>
		   	    	<div class="midfont text-align-center">$viewTool.format1SD2($!marketmoney)</div>
		   	    </div>
	    </div>
        <div class="more-cell">
    		<span style="padding-left: 5%;" class="huise">产品名称</span>
    		<span style="float: right;padding-right: 5%;">$!borrow.name</span>
        </div>
        <div class="more-cell">
    		<span style="padding-left: 5%;" class="huise">项目期限</span>
    		<span style="float: right;padding-right: 5%;">$!borrow.timeLimit#if($!borrow.isDay ==1)天#else个月#end</span>
        </div>
        <div class="more-cell">
    		<span style="padding-left: 5%;" class="huise">认购起点</span>
    		<span style="float: right;padding-right: 5%;">#if($!borrow.lowestAccount && $!borrow.lowestAccount>0) $viewTool.format2JQStr($!borrow.lowestAccount)  元 #else 无限制 #end</span>
        </div>
        <div class="more-cell">
    		<span style="padding-left: 5%;" class="huise">最大投资金额</span>
    		<span style="float: right;padding-right: 5%;">#if($!borrow.mostAccount && $!borrow.mostAccount>0) $viewTool.format2JQStr($!borrow.mostAccount) 元 #else 无限制 #end</span>
        </div>
        <div class="more-cell">
    		<span style="padding-left: 5%;" class="huise">还款方式</span>
    		<span style="float: right;padding-right: 5%;">$statusTool.getBorrowRepaymentStyle($borrow.repaymentStyle)</span>
        </div>
        <div class="more-cell">
    		<span style="padding-left: 5%;" class="huise">发布时间</span>
    		<span style="float: right;padding-right: 5%;">$dateTool.getStr2($!borrow.verifyTime)</span>
        </div>
        <div class="more-cell" style="margin-top: 3%;" onclick="window.location.href='$weburl/webapp/borrow/detail.html?id=$!borrow.id&type=xmjs'">
    		<span class="moreTextdeliy" style="color: #333;font-size: 16px;display: inline-block;width: 30%;margin: 0;padding-left: 5%;">项目介绍</span><img src="${weburl}/dist/images/go.png" class="go"/>
        </div>
        <div class="more-cell" onclick="window.location.href='$weburl/webapp/borrow/detail.html?id=$!borrow.id&type=fxkz'">
    		<span class="moreTextdeliy" style="color: #333;font-size: 16px;display: inline-block;width: 30%;margin: 0;padding-left: 5%;">风险控制</span><img src="${weburl}/dist/images/go.png" class="go"/>
        </div>
        <div class="more-cell" onclick="window.location.href='$weburl/webapp/borrow/detailJyjl.html?id=$!borrow.id'">
    		<span class="moreTextdeliy" style="color: #333;font-size: 16px;display: inline-block;width: 30%;margin: 0;padding-left: 5%;">交易记录</span><img src="${weburl}/dist/images/go.png" class="go"/>
        </div>
        <form class="pure-form" >
	        <div class="btn" style="height: 6%;text-align: center;">
	        	<img src="${weburl}/dist/images/jisuanqi.png" style="vertical-align: top;width: 13%;" class="nowimg"  onclick="makejisuan()"/>
                <!-- 需要对下面进行判断， 如果是已转让的标 就添加 gray class-->
                #if($!market.status==1)
                	   	<div class="now gray" style="display: inline-block;height: 100% !important;width: 75%;vertical-align: middle;font-size: 20px;">
                	<!-- 如果已转让 href就等于javascript:void(0)-->
								 	<a href="#" href='javascript:void(0);'>转让成功</a>
                #else
             
								 	<div class="now" style="display: inline-block;height: 100% !important;width: 75%;vertical-align: middle;font-size: 20px;">
                	<!-- 如果已转让 href就等于javascript:void(0)-->
								 	<a href="${weburl}/webapp/dept/detailtender.html?id=$!marketId" href='javascript:void(0);'>立即投资</a>
                #end
	    		
	    		       
								
	    		</div>
	    	</div>
    	</form>
    	<div style="color: red">#if($!errormsg) $!errormsg #end</div>
    	<div class="mode" onclick="clearjisuan()"></div>
    	<div class="danchuang">
    		<div class="danchuang-title">
    			计算收益
    		</div>
    		<div class="cell50" style="padding-right: 4%;">
    			<img src="${weburl}/dist/images/chinamoney.png"/><input type="text" name="" id="num" placeholder="理财金额"/>元
    	    </div><div class="cell50" style="text-align: center;border-left: 1px solid #e0e0e0;">
    	        <img src="${weburl}/dist/images/colok.png"/><span id="time">$!borrow.timeLimit#if($!borrow.isDay ==1)天#else个月#end</span>
    	    </div>
    	    <div class="endNum">产品预估收益(元)<span id="text">0.00</span></div>
    	</div>
    	<script>
    		   $(function(){
    		   	     $("#num").blur(function(){
	    		   	     	reg=/^\d+(\.\d{2})?$/;
	    		   	     	var text=$(this).val();
	    		   	    if(!text.match(reg)){
	    		   	    	
	    					$("#text").text("输入金额有误");
	    					
    				    }else{
    				    	
    				    	var text=$(this).val();
    				    	var year=$("#yearMoney").text();
    				    	var yearMoney=[];
    				    	yearMoney=year.split("%");
    				    	var time=$("#time").text();
    				    	var timenum=[];
    				    	    timenum=time.split("个月");
    				    	if(time==timenum[0]){
    				    		
    				    		timenum=time.split("天");
    				    		var endNum=text*(yearMoney[0]/100)/365*timenum[0];
    				    		$("#text").text(endNum.toFixed(2));
    				    	}else{	
    				    		var endNum=text*(yearMoney[0]/100)/12*timenum[0];
    				    		$("#text").text(endNum.toFixed(2));
    				    	}
    				    
    				    }
    		   	     });
    		   });
    	</script>
	</body>
</html>
