<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8" />
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<meta content="yes" name="apple-touch-fullscreen"/>
		<meta content="telephone=no" name="format-detection"/>
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" type="text/css" href="${weburl}/dist/css/style.min.css"/>
		<title>钱功夫</title>
		<script src="${weburl}/dist/libs/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="${weburl}/dist/js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body class="mi">
	    <div class="title-top text-align-center">
	          <img src="${weburl}/dist/images/back.png" height="90%" class="title-top-i1" onclick="window.location.href='javascript:history.back(-1)'"/>
	          <span class="titleTitle">更多</span>
	          <span class="spanWhite"></span>
	     #rightmenu()
    </div>
    <div class="glassMode" onclick="closeRight()"></div>
	    <div class="more-cell" onclick="window.location.href='${weburl}/webapp/about/hyzx.html'">
	    	<img src="${weburl}/dist/images/light.png"/ class="icon"><span class="moreText">行业资讯</span><img src="${weburl}/dist/images/go.png" class="go"/>
	    </div>
	    <div class="more-cell" onclick="window.location.href='${weburl}/webapp/about/ptgg.html'">
	    	<img src="${weburl}/dist/images/voice.png" class="icon"/><span class="moreText">平台公告</span><img src="${weburl}/dist/images/go.png" class="go"/>
	    </div>
	    <div class="more-cell" onclick="window.location.href='${weburl}/webapp/question.html'">
	    	<img src="${weburl}/dist/images/book.png" class="icon"/><span class="moreText">常见问题</span><img src="${weburl}/dist/images/go.png" class="go"/>
	    </div>
	    <div class="more-cell" style="margin-top: 10%;" onclick="window.location.href='${weburl}/webapp/aboutUs.html'">
	    	<img src="${weburl}/dist/images/human.png" class="icon"/><span class="moreText">关于我们</span><img src="${weburl}/dist/images/go.png" class="go"/>
	    </div>  
	</body>
</html>
