<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8" />
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<meta content="yes" name="apple-touch-fullscreen"/>
		<meta content="telephone=no" name="format-detection"/>
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" type="text/css" href="${weburl}/dist/css/style.min.css"/>
		<script src="${weburl}/dist/libs/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="${weburl}/dist/js/index.js" type="text/javascript" charset="utf-8"></script>
		<title>钱功夫</title>
	</head>
	<body class="mi">
		<div class="title-top text-align-center">
	          <img src="${weburl}/dist/images/back.png" height="90%" class="title-top-i1" onclick="window.location.href='javascript:history.back(-1)'"/>
	          <span class="titleTitle">安全中心</span>
	          <span class="spanWhite"></span>
	     #rightmenu()
    </div>
    <div class="glassMode" onclick="closeRight()"></div>
	    <div class="more-cell" style="color: #333;margin-top: 3%;">
    		<span class="moreTextdeliy" style="font-size: 15px;">实名认证</span><img src="${weburl}/dist/images/go.png" class="go" onclick="window.location.href='${weburl}/webapp/myhome/realname.html'"/>
        </div>
        <div class="more-cell" style="color: #333;">
    		<span class="moreTextdeliy" style="font-size: 15px;">我的银行卡</span><img src="${weburl}/dist/images/go.png" class="go" onclick="window.location.href='${weburl}/webapp/myhome/bankBind.html'"/>
        </div>
        <div class="more-cell" style="color: #333;margin-top: 5%;">
    		<span class="moreTextdeliy" style="font-size: 15px;">修改登录密码</span><img src="${weburl}/dist/images/go.png" class="go" onclick="window.location.href='${weburl}/webapp/myhome/xiugai.html'"/>
        </div>
        <div class="btn">
    		<div onclick="window.location.href='${weburl}/webapp/loginout.html'">
    			退出登录
    		</div>
    	</div>
	</body>
</html>
