<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8" />
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<meta content="yes" name="apple-touch-fullscreen"/>
		<meta content="telephone=no" name="format-detection"/>
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" type="text/css" href="${weburl}/dist/css/style.min.css"/>
		<script src="${weburl}/dist/libs/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="${weburl}/dist/js/index.js" type="text/javascript" charset="utf-8"></script>
		<title>钱功夫</title>
	</head>
	<body class="mi">
    	<div class="title-top text-align-center">
	          <img src="${weburl}/dist/images/back.png" height="90%" class="title-top-i1" onclick="window.location.href='javascript:history.back(-1)'"/>
	          <span class="titleTitle">交易记录</span>
	          <span class="spanWhite"></span>
	     #rightmenu()
    </div>
    <div class="glassMode" onclick="closeRight()"></div>
	<div class="list-item" style="margin-top: 2%;padding: 2% 0;" id="list-item">
    	<span>交易类型/时间</span><span style="text-align: right;">操作金额</span>	
    </div>
    #foreach($item in $borrowPage.result)
	    <div class="list-item" style="background-color: initial;border-bottom: 1px solid #e1e1e1;">
	    	<span class="list-span" style="margin-top: 2%;">
	         <div>
	    		$jiaoyiType.getjyname($!item.type)
	    		
	    	</div>
	    	<div class="huise" style="margin-top: 2%;">
	    		#limit($dateTool.getStr2($item.createdAt) 10)
	    	</div></span><span style="text-align: right;color: #ff7d26;" class="makespan">$numberTool.format($item.moneyOperate)元</span>	
	    </div>
    #end
    
    <form id="borrowForm" name="borrowForm" action="$weburl/webapp/myhome/moneyLog.html">
			<input type="hidden" id="page" name="page"/>
			#pagination($borrowPage 'borrowForm')
		</form>
	</body>
</html>
