<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8" />
		<meta content="yes" name="apple-mobile-web-app-capable"/>
		<meta content="yes" name="apple-touch-fullscreen"/>
		<meta content="telephone=no" name="format-detection"/>
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" type="text/css" href="${weburl}/dist/css/style.min.css"/>
		<script src="${weburl}/dist/libs/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="${weburl}/dist/js/index.js" type="text/javascript" charset="utf-8"></script>
		<title>钱功夫</title>
	</head>
	<body class="mi">
	<div class="title-top text-align-center">
          <img src="${weburl}/dist/images/back.png" height="90%" class="title-top-i1" onclick="window.location.href='javascript:history.back(-1)'"/>
          <span class="titleTitle">用户协议</span>
          <span class="spanWhite"></span>
     #rightmenu()
    </div>
    <div class="glassMode" onclick="closeRight()"></div>
    <div class="duanluo" style="margin-top: 5%;">
    	<div>本使用协议双方为钱功夫与本网站注册用户(下称“用户”或“您”), 本协议具有合同效力,适用于您在本网站的全部活动。请您在注册成为本网站用户前务必认真阅读、充分理解本协议各条款，特别是其中所涉及的免除及限制钱功夫责任的条款、对会员权利限制条款等, 若您不同意本协议的任何内容,或者无法准确理解钱功夫对条款的解释,请不要进行后续操作; 若您注册成为本网站用户, 则表示您对本协议的全部内容已充分阅读并认可和同意遵守。同时,承诺遵守中国法律、法规、规章及其他政府规范性文件规定, 如有违反而造成任何法律后果,您将以本人/本机构名义独立承担所有相应的法律责任。本协议内容包括以下条款及本网站已经发布的或将来可能发布的各类规则。本网站发布的所有规则为本协议不可分割的一部分,与协议正文具有同等法律效力。</div>
    </div>
    <div class="duanluo">
    	<div>钱功夫有权根据需要不定时地制定、修改本协议或各类规则,对于本网站用户适用的协议或各类规则应以用户在本网站注册时适用的协议或规则内容为准。本网站将随时刊载并公告本协议及规则变更情况。经修订的协议、规则一经公布, 立即自动生效, 对新协议、规则生效之后注册的用户发生法律效力。对于协议、规则生效之前注册的用户,若用户在新规则生效后继续使用本网站提供的各项服务,则表明用户已充分阅读并认可和同意遵守新的协议或规则。若用户拒绝接受新的协议和规则,用户有权放弃或终止继续使用本网站提供的各项服务。</div>
    </div>
    <div class="btn-2cell"><div style="background-color: #ff7d26;">不接受</div></div><div class="btn-2cell"><div style="background-color: #267dff;">接受</div></div>
    <div></div>
	</body>
</html>
