<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<title>钱功夫</title>
		<link rel="stylesheet" type="text/css" href="../public/css/style.min.css">
		<script>
			var ROOT_URL = 'http://127.0.0.1:8020/qgf';
			var seajsEnv = {
				'mode': 'development',
				'debug': true
			};
		</script>
		<script src="../public/lib/sea.js"></script>
		<script src="../public/lib/jquery-1.11.2.min.js"></script>
		<script src="../public/js/config.js"></script>
	</head>

	<body class="white">
		<div class="topbar">
			<div class="mid-width clearfix">
				<div class="cs-info">
					<i class="icon icon-phone"></i> 服务热线：<span class="red">4008-0571-92</span>
					<span>服务时间：9：00-18：00</span>
					<i class="icon icon-sina"></i> &nbsp;&nbsp;<i class="icon icon-qq"></i>
				</div>
				<nav class="opt nav-guest">
					<a href="#" class="reset">欢迎来到钱功夫！</a>
					<a href="#" class="ml0 red">注册</a>|
					<a href="#">登录</a>|
					<a href="#">帮助中心</a>
				</nav>
			</div>
		</div>
		<div class="top-navi-menu">
			<div class="mid-width">
				<div class="logo">
					<a href="index.html"><img src="../public/images/logo.png" alt=""></a>
				</div>
				<nav class="nav-navi">
					<ul class="clearfix">
						<li class="active ml0"><a href="index.html">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">安全保障</a></li>
						<li><a href="#">新手指南</a></li>
						<li>
							<a href="#">关于我们</a>
							<ul class="menu-child">
								<li><a href="javascript:;">平台规则</a></li>
								<li><a href="javascript:;">平台公告</a></li>
								<li><a href="javascript:;">行业资讯</a></li>
							</ul>
						</li>
						<li><a href="#">我的帐户</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="about-wrap">
			<div class="aboutus-banner">
				<div class="mid-width">
					<div class="aboutus-banner-content">
						<ul>
							<li class="line"></li>
							<li class="pie">
								<a href="/aboutus"><span class="gywm"></span><p>关于我们</p></a>
							</li>
						</ul>
						<ul>
							<li class="line"></li>
							<li class="pie">
								<a href="/help/rules"><span class="ptgz"></span><p>平台规则</p></a>
							</li>
						</ul>
						<ul>
							<li class="line"></li>
							<li class="pie">
								<a href="/help/product"><span class="ptgg"></span><p>平台公告</p></a>
							</li>
						</ul>
						<ul>
							<li class="line"></li>
							<li class="pie">
								<a href="/help/new"><span class="hyzx"></span><p>行业资讯</p></a>
							</li>
						</ul>
						<ul>
							<li class="line cur"></li>
							<li class="pie cur">
								<a href="/helps"><span class="bzzx"></span><p>帮助中心</p></a>
							</li>
						</ul>
					</div>
					<div class="about-tab">
						<a href="javascript:;" class="active">注册登录</a>
						<a href="javascript:;">充值提现</a>
						<a href="javascript:;">帐户安全</a>
						<a href="javascript:;">名称解释</a>
					</div>
				</div>
			</div>
			<div class="aboutus-content">
				<div class="content-item">
					<div class="mid-width">
						<h3 class="help-title">注册登录</h3>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>忘记登录密码怎么办？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>在钱功夫网站登陆页面点击“找回密码”，输入您注册时所认证的手机号码和收到的验证码，验证成功后可以重置登录密码。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>如何修改登录密码？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>登录钱功夫进入【我的账户】-【账户管理】-【修改密码】，输入原密码，新密码，通过验证后完成登录密码的修改。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>如何注册钱功夫？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>在钱功夫网站点击“注册”，输入手机号码，登录密码，短信验证码，图片验证码和推荐人，通过验证后完成注册。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>如何推荐他人？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>登录钱功夫官网进入【我的账户】—【邀请奖励】—【复制邀请链接】，将链接通过微博、QQ空间或者其他方式发送至好友，好友打开该链接进行注册即可默认推荐人。
							</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>注册的时候收不到短信怎么办？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>A、请确认手机是否安装短信拦截或过滤软件；B、请确认手机是否能够正常接收短信（信号问题、欠费、停机等）；C、短信收发过程中可能会存在延迟，请耐心等待；D、您还可以联系客服，寻求帮助（400-6052-677）。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>注册之后账户名可以修改吗？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>账户名一旦注册成功不能再修改。 </p>
						</div>
					</div>
				</div>
				<div class="content-item">
					<div class="mid-width">
						<h3 class="help-title">充值提现</h3>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>如何充值？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>登录钱功夫官网，点击【我的账户】—【充值】，填写金额，跳转至第三方支付页面，按照页面的提示输入支付密码等信息即可完成充值。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>充值有何费用？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>充值最低限制1元，充值不收取任何费用。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>充值何时到账？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>正常情况下，充值即时到账，若未到账建议您联系客服处理（400-6052-677）。 </p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>充值支持信用卡吗？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>不能，信用卡充值有一定的风险，可能影响您的信用卡额度，带来个人信用的不良记录。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>提现如何收费？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>提现最低限制1元（可提账户），提现要收0.35%的手续费全部由平台支付，提现每笔最高500万元。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>提现何时到账？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>平台提现采用T+0到账模式，但节假日或工作日16:00后提现且金额大于五万到账时间顺延下一工作日。</p>
						</div>
					</div>
				</div>
				<div class="content-item">
					<div class="mid-width">
						<h3 class="help-title">帐户安全</h3>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>为什么要进行用户身份认证？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>钱功夫是一个投资平台，按照国家相关法律，为了确保投资人的资金安全，以及反洗钱的需求，我们严格对用户身份进行认证，只有通过身份认证的投资人才有资格在钱功夫平台上进行投资。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>网站上如何进行实名认证？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>在您登陆钱功夫平台之后，点击【我的账户】-【实名认证】，对真实姓名、身份证进行认证。</p>
						</div>
						<div class="question-list">
							<p class="question clearfix"><span class="wen">Q</span>用户账户资金如何保障？<img class="float-right" src="../public/images/arrow-right.png"></p>
							<p class="answer"><span class="da">A</span>由第三方支付公司进行收付与记账账户服务，投资资金与自有运营资金账户分离，平台不触碰用户资金，充分保障投资人资金安全。</p>
						</div>
					</div>
				</div>
				<div class="content-item">
					<div class="mid-width">
						<h3 class="help-title">名称解释</h3>
						<div class="question-list">
							<p class="question">账户总额=可用金额+冻结金额+待收金额+待收利息。</p>
							<p class="question">可用金额：账户中可用来进行操作的金额，包括用于投标、提现等</p>
							<p class="question">冻结金额：指的是暂时不能进行任何操作的金额，冻结金额包括投标冻结、提现冻结。</p>
							<p class="question">待收金额：投标成功还未收回来的金额，借款标的状态是“正在还款”。</p>
							<p class="question">待收利息：是您当前所有投标的预计利息收入，包括未回收的利息。</p>
							<p class="question">按月还款：每月按时等额、本息还款。</p>
							<p class="question">每月还息到期还本：每月支付利息，到期还最后一月的利息和本金。</p>
							<p class="question">到期一次性还款：到了使用期限，一次性偿还本金和利息。</p>
							<p class="question">逾期:指借款方在约定还本付息时间但未及时足额还款的，称为逾期。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="site-footer">
			<div class="w1200 clearfix">
				<div class="footer-left">
					<ul class="clearfix">
						<li><a href="#">帮助中心</a></li>
						<li><a href="#">常见问题</a></li>
						<li><a href="#">新手指南</a></li>
						<li><a href="#">关于我们</a></li>
						<li style="margin-right:25px;"><a href="#">关注我们</a>&nbsp;&nbsp;
							<div class="float-right"><img src="../public/images/wechart-code.png">
								<p>钱功夫</p>
							</div>
						</li>
						<li style="margin-right:25px;">
							<div class="float-right"><img src="../public/images/wechart-code.png">
								<p>钱功夫</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="footer-right">
					<p class="hotline">客服热线（工作时间 9:00-18:00）</p>
					<p><strong>400-000-8888</strong><i class="icon icon-service"></i><span class="service">kefu@qiang.com</span></p>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="w1200">
				<ul class="clearfix">
					<li><a href="#"><i class="icon icon-logo1"></i></a></li>
					<li><a href="#"><i class="icon icon-logo2"></i></a></li>
					<li><a href="#"><i class="icon icon-logo3"></i></a></li>
					<li><a href="#"><i class="icon icon-logo4"></i></a></li>
					<li><a href="#"><i class="icon icon-logo5"></i></a></li>
				</ul>
				<span>版权所有：2013©雄猫软件  京ICP备13052580号-1</span>
			</div>
		</div>
		<script>
			seajs.use('aboutus');
		</script>
	</body>

</html>