#topbar("F")
		<div class="slider-bg">
			<div class="mid-width clearfix">
				<img src="../public/images/user.png" />
				<div class="slider-content">
					<h3>下午好，188****4254</h3>
					<p>上次登录时间：2015-03-27</p>
				</div>
				<div class="slider-info">
					<p>已绑定 <i class="icon user-telphone-authed"></i> &nbsp;&nbsp;未认证 <i class="icon user-realname-unauthed"></i> &nbsp;&nbsp;未绑定 <i class="icon user-balance-unauthed"></i></p>
				</div>
			</div>
		</div>
		<div class="mid-width clearfix">
			<div class="user-sidebar">
				<ul class="accordion">
					<li class="manage lignheight">
						<div class="accordion-title accordion-title-1">我的帐户</div>
					</li>
					<li>
						<div class="accordion-title"> <i class="icon user-home"></i> 帐户管理</div>
						<ul>
							<li>
								<a href=""><span>◆</span>实名认证</a>
							</li>
							<li>
								<a href=""><span>◆</span>修改密码</a>
							</li>
							<li>
								<a href=""><span>◆</span>银行卡</a>
							</li>
							<li>
								<a href=""><span>◆</span>头像上传</a>
							</li>
						</ul>
					</li>
					<li>
						<div class="accordion-title"> <i class="icon user-safe"></i> 资金管理</div>
						<ul>
							<li>
								<a href=""><span>◆</span>充值</a>
							</li>
							<li>
								<a href=""><span>◆</span>提现</a>
							</li>
							<li>
								<a href=""><span>◆</span>红包</a>
							</li>
							<li>
								<a href=""><span>◆</span>交易明细</a>
							</li>
						</ul>
					</li>
					<li>
						<div class="accordion-title"><i class="icon user-loan"></i> 借款管理</div>
						<ul>
							<li>
								<a href=""><span>◆</span>正在招标的项目</a>
							</li>
							<li>
								<a href=""><span>◆</span>尚未发布的项目</a>
							</li>
							<li>
								<a href=""><span>◆</span>正在还款的项目</a>
							</li>
							<li>
								<a href=""><span>◆</span>已收款的项目</a>
							</li>
							<li>
								<a href=""><span>◆</span>全部明细</a>
							</li>
						</ul>
					</li>
					<li>
						<div class="accordion-title"><i class="icon user-invest"></i> 理财管理</div>
						<ul>
							<li>
								<a href=""><span>◆</span>正在投标的项目</a>
							</li>
							<li>
								<a href=""><span>◆</span>正在收款的项目</a>
							</li>
							<li>
								<a href=""><span>◆</span>未收款的明细</a>
							</li>
							<li>
								<a href=""><span>◆</span>已收款的明细</a>
							</li>
							<li>
								<a href=""><span>◆</span>借出明细帐</a>
							</li>
							<li>
								<a href=""><span>◆</span>已还清项目</a>
							</li>
						</ul>
					</li>

					<li>
						<div class="accordion-title"><i class="icon user-extend"></i> 推广联盟</div>
						<ul>
							<li>
								<a href=""><span>◆</span>推广联盟</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="user-account">
				<div class="user-account-title">
					<h3>
                      帐户余额: &nbsp;&nbsp;<span>888.888.00</span> 元
                      <span class="account-action">
                          <a href="#" class="pure-button button-primary mr30">充 值</a>
                          <a href="#" class="pure-button button-primary-gray">提 现</a>
                      </span>
                  </h3>
					<div class="user-asset clearfix">
						<div class="item">
							<label>待收金额</label>
							<strong>8880.00</strong>元
						</div>
						<div class="sym">+</div>
						<div class="item">
							<label>冻结金额</label>
							<strong>8880.00</strong>元
						</div>
						<div class="sym">+</div>
						<div class="item">
							<label>帐户余额</label>
							<strong>8880.00</strong>元
						</div>
						<div class="sym">=</div>
						<div class="item">
							<label>帐户总金额</label>
							<strong>8880.00</strong>元
						</div>
					</div>
				</div>
			</div>
			<div class="user-page">
				<div class="user-profile">
					<nav class="user-nav-tabs">
						<a href="#" class="active">待收详情</a>
					</nav>
					<table class="pure-table pure-table-horizontal  table-compact">
						<thead>
							<tr>
								<th class="pure-table-title">待收总额</th>
								<th class="pure-table-title">最近待收金额</th>
								<th class="pure-table-title">最近待收时间</th>
								<th class="pure-table-title">已赚利息</th>
								<th class="pure-table-title">已赚奖励</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="red">¥0</td>
								<td>¥0</td>
								<td>暂无收款</td>
								<td>¥0</td>
								<td>¥0</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="user-page">
				<div class="user-profile">
					<nav class="user-nav-tabs">
						<a href="#" class="active">红包详情</a>
					</nav>
					<table class="pure-table pure-table-horizontal  table-compact">
						<thead>
							<tr>
								<th class="pure-table-title">红包总金额</th>
								<th class="pure-table-title">红包可用金额</th>
								<th class="pure-table-title">红包冻结金额</th>
								<th class="pure-table-title">红包已返还金额</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="red">¥0</td>
								<td>¥0</td>
								<td>¥0</td>
								<td>¥0</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="user-page mb20">
				<div class="user-profile">
					<nav class="user-nav-tabs">
						<a href="#" class="active">热门推荐</a>
					</nav>
					<table class="pure-table pure-table-horizontal  table-compact tj-table">
						<tbody>
							<tr>
								<td style="border-right:none!important;"><span>新</span> 杭州雄雄建设一期</td>
								<td>年收益6.3%</td>
								<td>投资期限6个月</td>
								<td>发布时间2015-05-03 </td>
							</tr>
							<tr>
								<td style="border-right:none!important;"><span>新</span> 杭州雄雄建设一期</td>
								<td>年收益6.3%</td>
								<td>投资期限6个月</td>
								<td>发布时间2015-05-03 </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="site-footer">
			<div class="w1200 clearfix">
				<div class="footer-left">
					<ul class="clearfix">
						<li><a href="#">帮助中心</a></li>
						<li><a href="#">常见问题</a></li>
						<li><a href="#">新手指南</a></li>
						<li><a href="#">关于我们</a></li>
						<li style="margin-right:25px;"><a href="#">关注我们</a>&nbsp;&nbsp;
							<div class="float-right"><img src="../public/images/wechart-code.png">
								<p>钱功夫</p>
							</div>
						</li>
						<li style="margin-right:25px;">
							<div class="float-right"><img src="../public/images/wechart-code.png">
								<p>钱功夫</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="footer-right">
					<p class="hotline">客服热线（工作时间 9:00-18:00）</p>
					<p><strong>400-000-8888</strong><i class="icon icon-service"></i><span class="service">kefu@qiang.com</span></p>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="w1200">
				<ul class="clearfix">
					<li><a href="#"><i class="icon icon-logo1"></i></a></li>
					<li><a href="#"><i class="icon icon-logo2"></i></a></li>
					<li><a href="#"><i class="icon icon-logo3"></i></a></li>
					<li><a href="#"><i class="icon icon-logo4"></i></a></li>
					<li><a href="#"><i class="icon icon-logo5"></i></a></li>
				</ul>
				<span>版权所有：2013©雄猫软件  京ICP备13052580号-1</span>
			</div>
		</div>
		<script>
			seajs.use('myhome')
		</script>
	</body>

</html>